html {
  overflow-x: hidden;
}
body {
  background-color: lightcyan;
}
.container {
  width: 85%;
  margin: auto;
  overflow-x: hidden;
}
.title-main {
  text-align: center;
  color: blue;
  padding-top: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#text {
  width: 480px;
  position: absolute;
  top: 22%;
  left: 23%;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 10px;
  padding: 10px;
  outline: none;
  border: 1px solid blue;
}
#amount {
  width: 480px;
 
  border-radius: 10px;
  margin-left: 425px;
  padding: 10px;
  outline: none;
  border: 1px solid blue;

  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  color: blue;
}
#amount::placeholder {
  color: blue;
}
.result {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  text-align: center;
  padding-top: 100px;
  background-color: #fff;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.maincurr {
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.equal {
  color: black;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search {
  position: absolute;
  top: 22%;
  right: 31%;
}

.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid blue;
  color: blue;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.search-control::placeholder {
  color: blue;
}
.search-btn {
  width: 42px;
  height: 43px;
  margin-top: 10px;

  font-size: 1.8rem;
  background: blue;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
}
.search-btn:hover {
  background: rgb(2, 2, 206);
}
